body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(100, 41, 139);
}
nav{
    background-color:rgb(77, 17, 117);
    margin: -10px;
    padding-top: 2rem;
    padding-bottom: 1rem;

}
.nav-items{
    display: flex;
    justify-content: space-between;
}
.flex-content{
    display: flex;
    justify-content: space-between;
    margin:2px;
}
.flex-con{
    border: 3px solid #6d0909;
    width:200px;
    height:10px;
}
.flex-item1{
    min-height: 200px;
    color:red;
    flex-shrink: 0;
}
.flex-item2{
    min-height: 150px;
    align-self: center;
    color:green;
}
.flex-item3{
    min-height: 200px;
    color:blue;
}

.nav{
    font-size:26px;
    
}

.profile img{
    border-width: 10px;
    border-color: red;
    border-radius: 50%;
    border-style:solid;
}
.nav li{
    color:white;
    display: flex;
    position:relative;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
}
h1{
    color:red;
    
}
p{
    display:block;
}
a{
    text-decoration: none;
    display:flex;
    flex: 1;
    flex-direction: row;
}
a:hover{
    color:blue;
}
a:visited{
    color: purple;
}
.content{
    width:500px;
    border-radius: 5px;
    border-color: grey;
    border-width:10px;
    border-style: solid;
    background-color: aqua;
    opacity: 0.6;
}
li{
    display: flex;
    text-decoration: none;
    color:green;
    flex-direction: row;

    
}
.start-page{
    font-size:32px;
    justify-content: center;
    text-align: center;
}

img{
    width:300px;
    height:300px;
}
.grid-container{
    display: grid;
    grid-template-columns: 300px 300px;
}
.grid-item{
    margin:2px;
}