
*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin:0;
    grid-template-columns: 30% auto;
    background-image: url("../4.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
header{
    padding-top:5px;
    height:70px;
    justify-content: center;
    align-items: center;
}
header a{
    font-size:26px;
    color:rgb(82, 57, 10);
}
main{
    height:700px;
}
.text-red{
    color:red;
}
.parent{
    width:200px;
    height:200px;
    border-radius: 50%;
    background-color:rgb(78, 16, 16);

}
.child{
    width:50%;
    height:50%;
    border-radius: 50%;
    transition: transform;
}
.parent:hover .child{
    background-color: blue;
    animation: jazzintro 2s ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
}
 @keyframes jazzintro{
    0%{
        transform: translateX(0%);
    }
    33%{
        background-color: red;
        transform: translateX(100%);
    }
    66%{
        background-color: yellow;
        transform: translateX(100%) translateY(100%);
    }
    100%{
        background-color: green;
        transform: translateX(0%) translateY(0%);
    }
 }
 .navigation-list{
    list-style: none;
    margin:0;
    padding-top:10px;
    display: flex;
    justify-content: space-between;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 34%, rgba(121,9,41,1) 64%, rgba(0,212,255,1) 100%);
}



.navigation-item{
    margin: 0 10px;
}
.navigation-item a{
    text-decoration: none;
    color:rgb(211, 16, 16);
    font-size: 24px;
}
.navigation-item a:hover{
    color:white;
}
.navigation-list{
    background-color: blueviolet;
    opacity: .5;
    margin-top: -10px;
}
.navigation-subitem{
    margin:0;
    list-style: none;
    width:200px;
    height:60px;
    float:bottom;
}
.navigation-subitem a{
    text-decoration: none;
    color:aliceblue;
    font-size: 24px;

}
.navigation-subitem a:hover{
    background-color: #dcd159;
}
.middle{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin-bottom: 5px;
}
.btn{
    position: relative;
    display: block;
    color:white;
    font-size:25px;
    font-family: "montserrat";
    margin:30px 0;
    text-decoration: none;
    border: 1px solid #5ee741;
    padding:14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}
.btn::before{
    background: #dcd159;
    content: "";
    width:100%;
    height:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition:all 0.6s ease;
}
.btn-1::before{
    width:0;
    height:100%;
}
.btn-1:hover::before{
    width:100%;
}
.btn-2::before{
    width:100;
    height:0%;
}
.btn-2:hover::before{
    height:100%;
}
.btn-3::before{
    width:100;
    height:0%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.btn-3:hover::before{
    height:280%;
}


 
.carousel-img{
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
}

.carousel {
    position:relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 35px;
    margin-left: 35%;
    width:360px;
    height:360px;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 50%;
    justify-content: center;
}
.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}
.box1{
    background-color: black;
    width:50px;
    height:200px;
    margin-top:10px;
    margin-right: 0;
    position:relative;
    display: inline-block;

}
.box2{
    background-color: grey;
    width:500px;
    height:200px;
    margin-top:10px;
    margin-left:0;
    position:relative;
    display: inline-block;
    animation-name: myframes;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: fowards;
    animation-play-state: running;


}
@keyframes myframes {
    0%{
        width:500px;
    }
    40%{
        background-color:rgb(134, 25, 25);
    }
    100%{
        width:100px;
        background-color:rgb(51, 39, 39);
    }
    
}
.container{
    position: relative;
    width:360px;
    height:640px;
    margin-top:50px;
    margin-bottom: 50px;
    margin-left: 200px;
    background: rgba(0, 0, 0,0);
    transform: rotate(-30deg) skew(25deg) scale(.8);
}
.container img{
    position: absolute;
    width:100%;
    transition: 0.5s;
}
.container:hover img :nth-child(4){
    transform: translate(160px, -160px);
    opacity:1;

}
.container:hover img :nth-child(3){
    transform: translate(120px, -120px);
    opacity:.8;

}
.container:hover img :nth-child(2){
    transform: translate(80px, -80px);
    opacity: .6;

}
.container:hover img :nth-child(1){
    transform: translate(40px, -40px);
    opacity: .4;

}

img{
    width:300px;
    height:300px;
}
.cont2{
    width:40%;
    height:30vh;
    background: #333;
    margin-top: 30px;
}
.splash{
    perspective: 400px;
    width:30%;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    transform-style: preserve-3d;
}
.splash img{
    transform: rotateX(70deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
    box-shadow: -80px 60px 15px 15px rgba(0,0,0,.4);
    transition: all .4s;
    transform-style: preserve-3d;
}
.splash:hover img{
    transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    box-shadow: 0px, 0px, 0px, 0px rgba(0,0,0,0);
}



